<script type="text/x-template" id="pckg-maestro-actions{{ table ? '-' ~ table ~ '-template' : '' }}">
    <div class="btn-group btn-group-sm pull-right">
        <div class="btn btn-default" v-if="typeof record.language_id != 'undefined' && !record.language_id">
            &nbsp;&nbsp;&nbsp;<i class="fal fa-globe" title="Not translated" style="color: red;"></i>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="btn btn-default">
            {% for action in recordActions %}
                {% include 'tabelize/recordActions/' ~ (action.template ? action.template : (action.slug ? action.slug : action)) ~ '.twig' %}
            {% endfor %}
        </div>
        {% if recordActions|length > 1 %}
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li v-for="action in actions">
                    <a v-if="action.event" href="#" @click.prevent="recordAction(action.event)">
                        <i class="fa" :class="'fa-' + action.icon"></i> ${ action.title }
                    </a>
                    <a v-else :href="record[action.recordHref]">
                        <i class="fa" :class="'fa-' + action.icon"></i> ${ action.title }
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</script>