<div class="header">
    <h2>
        {{ tabelize.getTitle() | raw }}
    </h2>
    <div class="affix-dynamic-offset-container">
        <div class="affix-dynamic-offset">
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..."
                 style="text-align: right;">
                {# print all buttons for mixed, entity-plugin and entity actions #}
                {{ tabelize.getEntityActionsHtml() | raw }}
            </div>
            {% if viewType == 'full' %}
                <div class="quick-search">
                    <input type="text" v-model="search" debounce="500" class="form-control"
                           placeholder="Quick search"/>
                </div>
            {% endif %}
        </div>
    </div>
</div>