<a href="#" @click.prevent="recordAction(record, 'checkCloneRecord')" title="{{ __('pckg.generic.btn.clone') }}">
    <i class="fa fa-clone" aria-hidden="true"></i> {{ __('pckg.generic.btn.clone') }}</a>