<a v-if="record.language_id" class="delete" @click.prevent="recordAction(record, 'checkDeleteRecordTranslation')" href="#" title="{{ __('pckg.generic.btn.deleteTranslation') }}"><i class="fa fa-trash-o" aria-hidden="true"></i> {{ __('pckg.generic.btn.deleteTranslation') }}</a>
<a class="delete" @click.prevent="recordAction(record, 'checkDeleteRecord')" href="#" title="{{ __('pckg.generic.btn.delete') }}"><i class="fa fa-trash-o" aria-hidden="true"></i> {{ __('pckg.generic.btn.delete') }}</a>
