<script type="text/x-template" id="pckg-dynamic-paginator">
    <nav style="display: table; margin: 0 auto;" v-if="total > perPage">
        <ul class="pagination">
            <li>
                <a v-bind:class="{ disabled: page == 1 }" href="#" aria-label="Previous" v-on:click.prevent="prev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="(i,p) in pages" track-by="$index" v-bind:class="{ active: p == page }">
                <a v-bind:class="{ disabled: page == '...' }" href="#" v-on:click.prevent="navigate(p)">${ p }</a>
            </li>
            <li>
                <a v-bind:class="{ disabled: page == Math.ceil(total / perPage) }" href="#" aria-label="Next"
                   v-on:click.prevent="next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</script>