<script type="text/x-template" id="pckg-maestro-table">
    <div>
        <div v-if="first">
            <input type="text" v-model="search" />
        </div>
        <table class="table table-condensed table-striped table-hover">
            <template v-if="depth > 0">
                <tr v-for="(record,i) in records">
                    <td>
                        <legend>${ i }</legend>
                        <pckg-maestro-table :initial-records="record" :depth="depth - 1"
                                            :fields="fields" :ids="ids" :search="search"></pckg-maestro-table>
                    </td>
                </tr>
            </template>
            <template v-else>
                <thead>
                <tr>
                    <th v-for="field in fields">${ field.field }</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="record in records">
                    <td v-for="field in fields" v-html="record[field.field]"></td>
                </tr>
                </tbody>
            </template>
        </table>
    </div>
</script>