<script type="text/x-template" id="pckg-htmlbuilder-geo">
    <div class="pckg-htmlbuilder-geo">
        <button type="button" @click.prevent="openMap()" class="btn btn-info btn-md" title="Open map">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </button>

        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'pckgHtmlbuilderGeoModal'} %}
            {% block header %}
                Select location
            {% endblock %}
            {% block body %}
                <vue-component-gmaps selector="#gmap" id="gmap" theme="base" :search="search" :ref="'gmap'"
                                     center="46.055144;14.512284" :zoom="10"
                                     :locations="[{geo:[30, 40]}]"></vue-component-gmaps>

                {{ _formService.open() | raw }}
                {{ _formService.addText('search').setAttribute('v-model', 'search').setLabel('Search') | raw }}
                {{ _formService.close() | raw }}
            {% endblock %}
            {% block footer %}
                <button type="button" class="btn btn-success" data-dismiss="modal" @click.prevent="selectAndClose">Select and close</button>
            {% endblock %}
        {% endembed %}
    </div>
</script>

<style>
    #gmap {
        height: 400px;
        width: 100%;
    }
</style>