<script type="text/x-template" id="pckg-bootstrap-modal">
    {% verbatim %}
        <div :class="['modal fade', visible ? 'in' : '']" :style="[visible ? 'display: block;' : '']" tabindex="-1" role="dialog" :id="id">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button v-if="dismissable" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><slot name="header"></slot>{{ header }}</h4>
                        </div>
                        <slot name="body">
                            <div v-if="body" class="modal-body">
                                {{ body }}
                            </div>
                        </slot>
                    <div class="modal-footer">
                        <button v-if="dismissable" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
</script>

<script type="text/javascript">
    var pckgBootstrapModalComponent = Vue.component('pckg-bootstrap-modal', {
        name: 'pckg-bootstrap-modal',
        template: '#pckg-bootstrap-modal',
        props: {
            header: null,
            body: null,
            dismissable: true,
            id: null,
            visible: false
        },
        data: function () {
            return {};
        },
        methods: {}
    });
</script>