<script type="text/x-template" id="pckg-bootstrap-alert">
    <div :class="['fade in alert', 'alert-' + style, dismissable ? 'alert-dismissable' : '']" role="alert">
        <button v-if="dismissable" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        ${ text }
    </div>
</script>