<script type="text/x-template" id="pckg-tabelize-field-datetime">
    <a class="btn btn-xs" :class="btnClass" @click.prevent="toggle">
        <template v-if="value">${ value }</template>
        <template v-else><i class="fa fa-times"></i></template>
    </a>
</script>