<script type="text/x-template" id="pckg-htmlbuilder-select">
    <div class="pckg-htmlbuilder-select">
        <button type="button" class="btn btn-info btn-md" title="Go to list">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-success btn-md" title="Refresh list">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
    </div>
</script>

<script>
    var pckgHtmlbuilderSelect = Vue.component('pckg-htmlbuilder-select', {
        template: '#pckg-htmlbuilder-select',
        props: {},
        data: function () {
            return {};
        },
        computed: {},
        ready: function () {

        }
    });
</script>