<script type="text/x-template" id="pckg-dynamic-paginator">
    <div class="pckg-dynamic-paginator">
        <div>
            <nav style="display: table; margin: 0 auto;" v-if="perPage != 'all' && total > perPage">
                <ul class="pagination">
                    <li>
                        <a :class="{ disabled: page == 1 }" href="#" aria-label="Previous"
                           @click.prevent="prev">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="(p,i) in pages" :key="i" :class="{ active: p == page }">
                        <a :class="{ disabled: page == '...' }" href="#" @click.prevent="navigate(p)">${ p
                            }</a>
                    </li>
                    <li>
                        <a :class="{ disabled: page == Math.ceil(total / perPage) }" href="#" aria-label="Next"
                           @click.prevent="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <div class="btn-group btn-group-md dropup" style="display: table; margin: 0 auto;">
                <div class="btn btn-default">
                    <a title="view" href="/dynamic/records/view/26/8471">
                        Show: ${ perPage }
                    </a>
                </div>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a v-for="limit in limits" href="#" @click.prevent="setPerPage(limit)">${ limit } per page</a>
                        <a href="#" @click.prevent="setPerPage('all')">all</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>