<!DOCTYPE html>
<html>
<head>
    {% include '_head.twig' %}
</head>
<body>
<div class="container-fluid" id="vue-app">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{% include '_foot.twig' %}

</body>
</html>