<!DOCTYPE html>
<html>
<head>
    {% include '_head.twig' %}
</head>
<body class="{{ _router.getCssName() }}">

{% include '_body.twig' %}

<div id="vue-app">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{% include '_foot.twig' %}

</body>
</html>