<script type="text/x-template" id="pckg-tooltip">
    <nobr v-if="content">&nbsp;<span
                class="tooltip-questionmark"
                :title="content"
                data-toggle="tooltip"
                :html="html"></span>
    </nobr>
</script>

<script>
    Vue.component('pckg-tooltip', {
        mixins: [pckgDelimiters],
        name: 'pckg-tooltip',
        template: '#pckg-tooltip',
        props: {
            content: {},
            text: {
                default: '?',
                type: String
            },
            icon: {
                default: '',
                type: String
            }
        },
        mounted: function () {
            $(this.$el).find('[data-toggle="tooltip"]').tooltip({'position': 'auto top'});
        },
        computed: {
            html: function(){
                return this.icon.length > 0 ? '<i class="fa fa-' + this.icon + '"></i>' : text;
            }
        }
    });
</script>