<script type="text/x-template" id="pckg-tooltip">
    <nobr v-if="content">&nbsp;<span
                class="tooltip-questionmark"
                :title="content"
                data-toggle="tooltip">
            <template v-if="icon.length > 0"><i class="fa" :class="'fa-' + icon"></i></template><template v-else>?</template>
        </span>
    </nobr>
</script>

<script>
    Vue.component('pckg-tooltip', {
        mixins: [pckgDelimiters],
        name: 'pckg-tooltip',
        template: '#pckg-tooltip',
        props: {
            content: {},
            icon: {
                default: '',
                type: String
            }
        },
        mounted: function () {
            $(this.$el).find('[data-toggle="tooltip"]').tooltip({'position': 'auto top'});
        }
    });
</script>