/* HTML ELEMENTS */
html, body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: #f7f6fc;
}

.__separator-line {
  border-bottom: 1px solid @border-grey;
  left: 0;
  margin: @spacing-s 0;
  right: 0;

  &.--full-width {
    margin-left: -@spacing-m;
    margin-right: -@spacing-m;
  }
}

/* GENERIC */
.box-with-padding {
  padding: @spacing-m;
  border-radius: 1.5rem;
  // margin-bottom: @spacing-m;
  // clear: both;

  &.--bg-color {
    background-color: #fff;//@maestro-bg-dark;
    .o-info {
      background-color: var(--o-info--bg-color, transparent);
    }

    &.--style-error {
      background-color: @clr-error;
      color: white;
      .color-grayish {
        color: #eee;
      }
    }

    // sub box?
    .--bg-color {
      background-color: #f9f9f9; //@pagebuilder-bg-color;//#fff;
    }
  }

  &.--rm-padding {
    padding: 0;
  }

  &.--radius-sm {
    border-radius: var(--radius-sm);
  }

  &.--selected {
    box-shadow: 0 0 0 2px @clr-primary;
    &.--error {
      box-shadow: 0 0 0 2px @clr-error;
    }
  }
}

.--shadow-on-hover {
  transition: all 333ms ease-in-out;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  }
}

.label-primary {
  background-color: @clr-primary;
  text: #fff;
}

.label-secondary {
  background-color: @clr-secondary;
  text: #fff;
}

.table-middle {
  > tbody > tr > td {
    vertical-align: middle;
  }
}

th .form-group {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .table-condensed {
    .input-group {
      .input-group-addon {
        padding: 0 .5rem;
      }
      input {
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }
  }
}

.text-right {
  input {
    text-align: right;
  }
}

.c-derive-info-box {
  border: 1px solid @border-grey;
  background-color: @maestro-bg-dark;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  border-radius: 1.5rem;
  .--bg-color & {
    background-color: #fff;
  }
}

.btn-size-l {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.label {
  &.--opaque {
    opacity: 0.5;
  }
}

.maestro-sidebar-bottom {
  background: @maestro-bg-dark;
  position: absolute;
  bottom: 0;
  height: 10rem;
  left: 0;
  font-size: 1.8rem;
  float: left;
  transition: @transition-d;
  width: 20rem;

  .user,
  .language,
  .collapse-sidebar {
    width: 5rem;

    a {
      display: block;
      line-height: 1.6rem;
      padding: 1rem 0;
      text-align: center;
    }
  }
  .user,
  .language {
    float: left;
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li {
        display: block;
        clear: both;
        float: left;
        width: 100%;
      }
    }
  }
  .collapse-sidebar {
    float: right;
  }
}


.backend {
  .navbar {
    min-height: 38px;
  }

  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

#vue-app {
  min-height: 100%;
  position: relative;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.backend-sidebar-panel {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: ~"max(70vw, 360px)";
  background: var(--scope-bg);
  z-index: 2001;
  overflow: auto;
}
.__rest {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.maestro-sidebar {
  background: #fff; // @maestro-bg-dark;
  bottom: 0;
  float: left;
  height: 100%;
  left: 0;
  padding-bottom: 10rem;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  transition: @transition-d;
  width: 20rem;
  z-index: 97;

  &:before {
    background: rgb(247,246,252);
    background: linear-gradient(180deg, rgba(247,246,252,1) 33%, rgba(247,246,252,0) 100%);
    content: "";
    height: 1.5rem;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  &:after {
    background: rgb(247,246,252);
    background: linear-gradient(0deg, rgba(247,246,252,1) 33%, rgba(247,246,252,0) 100%);
    content: "";
    height: 1.5rem;
    margin-top: -15px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  a {
    color: @text;

    &:hover,
    &:active,
    &:focus {
      color: @clr-primary;
    }
  }
  .maestro-sidebar-inside {
    height: 100%;
    padding-bottom: 2rem;
    padding-right: 1.5rem;
    overflow: auto;
    width: calc(100% + 1.5rem);
  }
  div.logo {
    display: block;
    margin: 2rem 0;
    text-align: center;

    img {
      max-height: 2rem;
    }
  }
  #main-admin-nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        clear: both;

        ul {
          li {
            a {
              padding: .5rem 1.2rem .5rem 5rem;
              font-size: 1.4rem;
            }

            &:first-child {
              a {
                padding-top: 1rem;
              }
            }

            &:last-child {
              a {
                padding-bottom: 1rem;
              }
            }
          }
        }
      }

      a {
        display: block;
        padding: 1rem 0;
        position: relative;
        font-size: 1.6rem;
        line-height: 2rem;

        i {
          float: left;
          width: 5rem;
          line-height: 2rem;
          font-size: 2rem;
        }

        span {
          display: block;
          overflow: hidden;
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .active > a,
    a:hover {
      color: @clr-primary;
    }
  }

  .help {
    i {
      float: left;
      width: 5rem;
      line-height: 2rem;
      font-size: 2rem;
    }

    a {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  .storefront {
    background-color: @maestro-bg-darker;
    color: @midGray;
    padding: 1rem 1.5rem;

    & > span {
      display: block;
      font-size: 1.2rem;
      margin-bottom: .2em;
    }

    a {
      font-size: 1.4rem;

      span {
        display: block;
      }

      i {
        float: left;
        line-height: 2rem;
        margin-right: .6rem;
      }
    }
  }

  .hide-on-sidebar-collapse {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  body.collapsed & {
    padding-bottom: 15.5rem;
    transition: @transition-d;
    width: 5rem;

    #main-admin-nav {
      a.maestro {
        font-weight: bold;
      }

      ul.top-level {
        & > li {
          &.hoveractive {
            & > a {
              &:after {
                border-bottom: 10px solid transparent;
                border-right: 10px solid @maestro-bg-darker;
                border-top: 10px solid transparent;
                content: "";
                height: 0;
                margin-top: -10px;
                position: absolute;
                right: 0;
                top: 50%;
                width: 0;
              }
            }
          }

          & > a {
            span {
              opacity: 0;
              transition: @transition-d;
              visibility: hidden;
              width: 0;
            }

            &:hover {
              &:after {
                content: "";
              }
            }
          }

          ul {
            bottom: 0;
            height: auto !important;
            left: 5rem;
            padding-left: 0;
            padding-top: 2rem;
            position: fixed;
            width: 20rem;
            z-index: 99;
            background: @maestro-bg-darker;
            top: 0;
            transition: @transition-d;

            li {
              a {
                padding: .5rem 2rem;
              }
            }
          }
        }
      }
    }
    .hide-on-sidebar-collapse {
      opacity: 0;
      width: 0;

      &.height-too {
        display: none;
      }
    }
    .maestro-sidebar-bottom {
      height: 15.5rem;
      width: 5rem;

      span {
        opacity: 0;
      }
    }
    .collapse-sidebar {
      a {
        i {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
          transition: @transition-d;
        }

        span {
          opacity: 0;
          transition: @transition-d;
          visibility: hidden;
        }
      }
    }
  }

  .collapse-menu {
    a {
      color: #FFF;
      padding: 10px 20px;

      &:hover {
        text-decoration: none;
      }

      i {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}

.maestro-content {
  float: right;
  padding: 2rem 0;
  margin: 0 2rem;
  width: ~"calc(100% - 24rem)";
  @media (min-width: 768px) {
    padding: 6rem 0;
    margin: 0 6rem;
    width: ~"calc(100% - 32rem)";
  }
  transition: @transition-d;

  &:only-child {
    float: none;
    margin: 0 auto;
    max-width: 768px;
    width: auto;
  }

  &.login {
    margin-left: 0;
  }

  body.collapsed & {
    width: ~"calc(100% - 9rem)";
    @media (min-width: 768px) {
      width: ~"calc(100% - 17rem)";
    }
  }
}

.alert-default {
  &,
  .pckg-dispatcher-notifications-wrapper & {
    background: var(--scope-bg);
    color: var(--scope-text);
    padding: var(--spacing-md);
    border: 1px solid #ddd;
    max-width: 768px;
  }
}

ol.breadcrumb {
  margin-left: 120px;
  display: none;
  padding: 10px 0;
  margin-bottom: 0;
  background: transparent;
  font-size: 13px;
}

body.collapsed {
  ol.breadcrumb {
    margin-left: 70px;
  }
}

/**
 FORM STYLES FOR BACKEND
 */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
.dropdown.bootstrap-select .dropdown-toggle {
  background: #fff;
  border: none;
  box-shadow: none;
  position: relative;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #ccc;
  border-radius: 0;
  transition: @transition-d;
  font-size: 1.5rem;
  padding: .6rem;
  height: auto;
}

.pckg-loader {
  color: @clr-primary;
  &.fixed-centered {
    transform: ~"translate(calc(-50% + 6rem), -50%)";
  }
}

ul.nav-tabs {
  border: none;
  margin-bottom: 2rem;
  border-bottom: 2px solid @whiteActive;

  > li {
    margin-right: 2.4rem;

    > a {
      border: none;
      padding: 0 0 1.2rem 0;
      color: @midGray;
    }

    &.active,
    &:hover,
    & a.active,
    &:hover a,
    &.active-router-link,
    & a.active-router-link {
      &,
      > a {
        border: none;
        position: relative;

        &, &:focus, &:hover {
          background: transparent;
          border: none;
          color: @clr-primary;

          &:after {
            position: absolute;
            top: 100%;
            margin-top: -1px;
            height: 2px;
            left: 0;
            width: 100%;
            display: block;
            content: '';
            background: @clr-primary;
          }
        }
      }
    }
  }
}

.derive-platform-settings {
  .header {
    display: none;
  }
}

ul.vertical-mid-menu {
  margin: 0 0 2rem 0;
  padding: 0;
  ul {
    margin: .333rem 0 1rem 0;
    padding: 0 1rem;
  }
  &, & ul {
    list-style-type: none;
  }

  > li {
    float: left;
    @media (min-width: 992px) {
      float: none;
    }
    > span,
    > a {
      display: block;
      padding: 0.8rem 0;
      margin: 0;
      //text-transform: uppercase;
      //font-size: 1.2rem;
      //color: #777;
      cursor: pointer;
      color: inherit;
      //font-weight: bold;
      &.router-link-active {
        color: @clr-primary;
      }
    }

    > ul {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
      margin: 0 0 0 .666rem;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0;
        padding: .2rem 0;
        margin-left: 1rem;
      }
      transition: @transition-d;
      // max-height: 0;
      overflow: hidden;
    }
    &.fixed {
      > ul {
        margin-left: 2rem;
        margin-top: .666rem;
      }
    }
    &.opened {
      //background: #fafafa;
      color: @clr-primary;
      /*> ul {
        max-height: fit-content;
      }
      > span {
        border-bottom: 2px solid #ddd;
        padding: 0 0 .666rem 0;
        margin: 0 0 .333rem 0;
      }*/
    }

    /*& + li {
      margin-top: 2rem;
    }*/
  }
}

.c-maestro-customize-views {
  display: inline-block;
}

.pckg-maestro-field-indicator {
  &.fal {
    &.clr-error {
      -webkit-text-stroke: 1px @clr-error;
    }
    &.clr-success {
      -webkit-text-stroke: 1px @clr-success;
    }
    &.clr-info {
      -webkit-text-stroke: 1px @clr-info;
    }
  }
}

//Stats comparison with the previous track record
.__comparison {
  color: @lighterGray;
  margin-top: 0.5rem;
  text-decoration-line: underline;
  text-decoration-style: double;
  vertical-align: top;
  .inline-block();

  i {
    margin-right: .3rem;
  }
}

//When word is between two elements
.__word-separator {
  .inline-block();
  margin-left: @spacing-xs;
  margin-right: @spacing-xs;
}

//Maestro modules
.panel-modules-all {
  .fa-toggle-on {
    color: @clr-success;
  }
  .fa-toggle-off {
    color: @clr-error;
  }
}

//Initially used for stats
.__big_number {
  font-size: 4rem;
  line-height: 4rem;
  margin-right: 1.5rem;
}

.__icon-tooltip-right-of-title {
  margin-left: @spacing-xs;
}
.__link-action {
  margin-left: @spacing-xs;
}
.__link-action-floating-right {
  float: right;
  margin-left: @spacing-xs;
}

.__link-action,
.__link-action-floating-right {
  h1 &,
  h2 & {
    font-size: 2rem;
    line-height: 4.4rem;
  }
}

.u-hover-wrapper {
  .visible\@wrapper-hover {
    display: none;
    transition: all 333ms ease-in-out;
    opacity: 0;
  }
  &:hover {
    .visible\@wrapper-hover {
      display: block;
      opacity: 1;
    }
  }
}

//overrides from pagebuilder.less
._component.actionbuilder-panel {
  padding: 0;
}

//Navigation back button, should be placed left from the page title
.__maestro-back-button,
.__maestro-hover-circle-btn {
  border-radius: 50%;
  display: inline-block;
  font-size: 2rem;
  line-height: 3.6rem;
  margin-top: -.5rem;
  margin-right: @spacing-xs;
  //margin-left: -1rem;
  text-align: center;
  vertical-align: middle;
  width: 3.6rem;

  &:active,
  &:focus,
  &:hover {
    background-color: @clr-primary;
    color: #FFF;
  }
}

.--locked-out {
  color: @lightGray;

  .fa-toggle-off {
    color: @lightGray;
  }

  .__module-disabled-message {
    color: @text;
  }
}

/* Utilities */

.color-grayish {
  color: #8c8c8c;
  a:hover & {
    color: inherit;
  }
}
.i-color-grayish {
  color: #8c8c8c !important;
}

.table {
  &.--table-list,
  &.--table-list-btn {
    th {
      font-weight: bold;
    }

    th {
      border-bottom-width: 1px;
      text-align: inherit;
    }

    td {
      border-top-width: 0;
    }
  }

  &.--table-list {
    th, td {
      &:first-child {
        width: 16rem;
        font-weight: bold;
      }
    }
  }

  &.--table-list-btn {
    th, td {
      &:first-child {
        width: 4rem;
      }
      &:nth-child(2) {
        width: 16rem;
        font-weight: bold;
      }
    }
  }
}

.table .form-group.grouped {
  margin-bottom: var(--spacing-xs);
}

.img-table-preview {
  max-width: 5rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

.btn,
.button {
  & + & {
    margin-left: 1rem;
  }
}

//Border used as a vertical separator between columns
.u-vertical-separator-hidden-xs {
  border-right: .1rem solid @border-grey;

  @media only screen and (max-width: @xs-max) {
    border-right: none;
  }
}