
@clr-primary: #0061ff;
@clr-secondary: #3db4bb;
@clr-success: #4cc885;
@clr-error: #eb4149;
@clr-info: #3FB3BA;

@text: #1c1c1c;

@darkGray: #333;
@darkGrayActive: #444;
@midGray: #505050;
@midGrayActive: #606060;
@lightGray: #9b9b9b;
@lighterGray: #b5b5b5;
@white: #FFF;
@whiteActive: #DDD;

@text: #1c1c1c;

@border-grey: #e7e7e7;
@border-separator-grey: #ccc;

@maestro-input-height: 2.6rem;
@maestro-border-width: 1px;
@maestro-border-radius: 5px;

@maestro-bg-dark: #f7f6fc;
@maestro-bg-darker: #efeff7;

@ui-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@transition-d: all ease-on-out .2s;

.label-style-uppercase() {
  color: @lightGray;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}