/**
  * Styles that belongs to Maestro interface shared over pckg projects:
  * - Comms
  * - Impero
  * - Center
  * - Mailo
  * - Pendo
  * - Condo
 */

@clr-primary: #0061ff;
@clr-secondary: #3db4bb;
@clr-success: #4cc885;
@clr-error: #eb4149;
@clr-info: #3FB3BA;

@text: #1c1c1c;

@darkGray: #333;
@darkGrayActive: #444;
@midGray: #505050;
@midGrayActive: #606060;
@lightGray: #9b9b9b;
@lighterGray: #c5c5c5;
@white: #FFF;
@whiteActive: #DDD;

@text: #1c1c1c;

@border-grey: #e7e7e7;
@border-separator-grey: #ccc;

@maestro-input-height: 2.6rem;
@maestro-border-width: 1px;
@maestro-border-radius: 5px;

@maestro-bg-dark: #f7f6fc;
@maestro-bg-darker: #efeff7;

/**
Source Sans Pro is a sans serif typeface intended to work well in user interfaces - which page builder and backend are.
Open Sans was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.
Roboto ... makes for a more natural reading rhythm more commonly found in humanist and serif types
 */
@ui-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

.label-style-uppercase() {
  color: @lightGray;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}