<div class="tab-tabelize">
    {% for tabelize in tabelizes %}
        {{ tabelize | raw }}
    {% endfor %}
</div>

<div class="tab-functionize">
    {% for functionize in functionizes %}
        {{ functionize | raw }}
    {% endfor %}
</div>