<a type="button" class="btn btn-success" href="{{ tabelize.getAddUrl() }}" title="{{ __('pckg.generic.btn.add') }}">
    <i class="fa fa-plus" aria-hidden="true"></i> {{ __('pckg.generic.btn.add') }}
</a>