<a type="button" @click.prevent="entityAction('checkDeleteRecords')" class="btn btn-danger" href="#" title="{{ __('pckg.generic.btn.delete') }}">
    <i class="fa fa-trash" aria-hidden="true"></i> {{ __('pckg.generic.btn.delete') }}
</a>