.form-group {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.bootstrap-select {
  max-width: 720px;
  .modal & {
    max-width: 360px;
  }
  .dropdown-menu.open {
    max-width: 720px;
    .modal & {
      max-width: 360px;
    }
  }
}

.modal-body {
  overflow: auto;
}