<div class="pckg-generic-content-simple pckg-generic-content-simple-vImageRight">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ content.title | raw }}</h2>
            {{ content.description | raw }}
            {{ content.content | raw }}
        </div>
        <div class="col-md-6" style="background: url({{ content.image }}); background-size: cover;"></div>
    </div>
</div>