<div class="pckg-generic-content-simple pckg-generic-content-simple-vImageLeft">
    <div class="row">
        <div class="col-md-6"><img src="{{ content.image }}" /></div>
        <div class="col-md-6">
            <h2>{{ content.title | raw }}</h2>
            {{ content.description | raw }}
            {{ content.content | raw }}
        </div>
    </div>
</div>