<div class="pckg-generic-content-simple pckg-generic-content-simple-vImageLeft">
    <div class="row no-padding">
        <div class="col-md-6"><img src="{{ content.image }}" class="img-responsive" /></div>
        <div class="col-md-6">
            <h2>{{ content.title | raw }}</h2>
            {{ content.description | raw }}
            {{ content.content | raw }}
        </div>
    </div>
</div>